@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Inter:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;    
    margin:  0 auto;
  }
  
  .content {
    font-family: "Sen";
    color: black;
    position: relative;
    background-color: #F4F0F8;
  }
  
  .content .par {
    padding-left: 5%;
    margin-top: 1.5rem;
    line-height: 30px;
  }
  
  .content h2 {
    font-size: 2.5rem;
    margin-left: 5%;
  }
  
  .text {
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 3%;
  }
  
  .content .cn {
    width: 177px;
    height: 58px;
    background: #FFD050;
    border: none;
    margin-top: 1.875rem;
    margin-left: 5%;
    font-family: 'Sen';
    font-weight: 900;
    font-size: 0.9375rem;
    color: black;
    border-radius: 3px;
  }
  
  .content a {
    color: #232536;
  }
  
  .h6_james {
    margin-left: 5%;
    margin-top: 1.75rem;
    font-size: 16px;
  }
  
  span {
    color: #592EA9;
  }
  
  .posted {
    margin-left: 5%;
    padding-bottom: 2%;
    letter-spacing: 4px;
  }
  
  .img1 {
    position: absolute;
    right: 4rem;
    top: 53%;
    transform: translateY(-50%);
  }
  
  .posts {
    font-family: "Sen";
  }
  
  h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 3rem 7rem;
    color: #232536;
  }
  
  hr {
    color: #6D6E76;
    position: absolute;
    width: 85%;
    height: 0px;
    top: 809px;
    margin: -5rem 7rem;
    opacity: 0.32;
    border: 1px solid #6D6E76;
  }
  .block-container {
    margin-left: 7.2rem;
  }
  .post1 {
    padding-top: 70px;
    margin-left: 7rem;
    overflow: hidden;
  }
  
  .post1 img {
    float: left;
    margin-right: 20px;
  }
  
  .post1 h5,
  .post1 h2,
  .post1 p {
    overflow: hidden;
  }
  
  .p1t {
    padding-top: 70px;
  }
  
  .p1 {
    font-size: 16px;
    font-weight: 600;
    color: #592EA9;
  }
  
  .p1h {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 22px;
  }
  
  .pages {
    padding-top: 43px;
    font-family: "Sen";
    text-decoration: none;
    text-align: center;
    font-weight: 700;
  }
  
  .prev {
    font-size: 24px;
    color: #6D6E76;
  }
  
  .next {
    padding-left: 10px;
    font-size: 28px;
    color: #232536;
  }

  
  .blockimg {
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 10%;
    width: 60px;
    height: 60px;
  }
  
  .block_text {
    margin-left: 5.5%;
  }
  
  .block_text2 {
    font-weight: 400;
    font-size: 14px;
    padding-left: 12px;
  }
  
  .block2 {
    border: none;
    background-color: #FFD050;
  }
  
  h3 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 1100;
    font-size: 30px;
    padding-top: 90px;
    text-align: center;
  }
  
  .last {
    padding-top: 20px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  
  .cn {
    width: 140px;
    height: 40px;
    background: #FFD050;
    border: none;
    text-align: center;
    font-family: 'Sen';
    font-weight: 900;
    font-size: 15px;
    color: black;
    border-radius: 3px;
    margin-top: 20px;
  }
  
  