@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Sen&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.first {
    margin-left: 10%;
}

.jonson {
    font-family: "Sen";
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #592EA9;
}

.s1 {
    display: flex;
    padding-top: 10%;
    padding-left: 20%;
}


.txt {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #6D6E76;
}

.h1 {
    color: #232536;
    font-family: 'Sen';
    font-size: 40px;
    font-weight: 1000;
    letter-spacing: 2px;
    padding-top: 2.5%;
    padding-left: 20%;
}

.startup {
    position: absolute;
    margin-left: 27.5%;
    margin-top: 2%;
    display: flex;
    align-items: center;
}

.startup img {
    border-radius: 10px;
}

.startup p {
    font-family: "Sen";
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232536;
}

.h1 p {
    font-size: 10px;
}

.img {
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.texts {
    margin-left: 7%;
}

.h2 {
    color: #232536;
    font-family: 'Sen';
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 2.5%;
    padding-left: 20%;
}

.texts p {
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
    margin-left: 20%;
}

.texts ul {
    margin-left: 20%;
    font-family: "Sen";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #161722;
}

.read {
    margin: 5%;
    margin-top: 9%;
    font-family: "Sen";
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: black;
}

.child__div {
    width: 146px;
    font-family: 'Sen';
    margin-top: 1%;
}

.child__span {
    color: blue;
}

.child__p {
    font-family: 'Sen';
    font-size: 24px;
    font-weight: 700;
    width: 325px;
}

.lastposts {
    display: flex;
    flex-wrap: wrap;
}

.lastposts .post {
    padding-left: 80px;
    margin-right: 10px;
}

hr {
    width: 1420px;
    height: 0px;
    margin-left: 5%;
    margin-top: 5%;
    border: 1px solid #6D6E76;
}

.last {
    padding-top: 20px;
    text-align: center;
}

.last h3 {
    font-family: "Sen";
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
}

.cn {
    font-family: "Sen";
    width: 140px;
    height: 40px;
    background: #FFD050;
    border: none;
    text-align: center;
    font-family: 'Sen';
    font-weight: 900;
    font-size: 15px;
    color: black;
    border-radius: 3px;
    margin-top: 20px;
}

.finish {
    margin-top: 6%;
}

button a {
    color: black;
}



body {
    font-family: 'Inter';
}

footer {
    background: #232536;
    height: 560px;
    width: 100%;
    font-size: 16px;
    margin-top: 8rem;
}

label.logo {
    color: white;
    line-height: 79px;
    padding: 2px 89px;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
}


footer ul {
    float: right;
    padding-top: 35px;
    margin-right: 64px;
    font-size: 16px;
}

.logoo {
    color: white;
    line-height: 79px;
    padding: 32px 89px;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
}

footer ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-size: 16px;
}

footer ul li a {
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    font-size: 16px;
}

a:hover {
    background: #7c809b;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    font-size: 16px;
    display: none;
}

#check {
    display: none;
}


.blue__bg {
    background-color: #FFFFFF;
    opacity: 0.05;
    width: 1419px;
    position: absolute;
    height: 256px;
    margin: 151px 90px;

}


.footer__finsih {
    font-family: 'Sen';
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    position: absolute;
    color: #FFFFFF;
    margin-left: 164px;
    margin-top: 218px;
}

.input {
    background-color: #313342;
    border: 1px solid #897e7e;
    width: 323px;
    height: 56px;
    position: absolute;
    margin-left: 52rem;
    padding-left: 25px;
    margin-top: 14rem;
}

.sub__button {
    background-color: #FFD050;
    color: #232536;
    font-size: 19px;
    line-height: 24px;
    font-family: 'Sen';
    font-weight: 700;
    padding: 13px 45px;
    position: absolute;
    width: 179px;
    border: none;
    height: 56px;
    margin: 14rem 74rem;
}

.sub__2 {
    margin: 0rem 2rem;
}

.com__text {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Sen';
    color: #FFFFFF;
    margin-top: 28.4rem;
    position: absolute;
    margin-left: 6rem;
}

.com__textt {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Sen';
    color: #FFFFFF;
    margin-top: 29.9rem;
    position: absolute;
    margin-left: 6rem;
}

.footer__icon {
    position: absolute;
    margin: 25rem 88rem;
    width: 107px;
    font-size: 89px;
}

.img__class {
    position: absolute;
    margin: 71px 1px;
}