@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Sen&display=swap');

footer {
    font-family: 'Inter';
    background: #232536;
    height: 560px;
    width: 100%;
    font-size: 16px;
    margin-top: 8rem;
}

label.logo {
    color: white;
    line-height: 79px;
    padding: 2px 89px;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
}


footer ul {
    float: right;
    padding-top: 35px;
    margin-right: 88px;
    font-size: 16px;
}

.logoo {
    color: white;
    line-height: 79px;
    padding: 30px 99px;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
}

footer ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-size: 16px;
}

footer ul li a {
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    font-size: 16px;
}

a:hover {
    background: #7c809b;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    font-size: 16px;
    display: none;
}

#check {
    display: none;
}


.blue__bg {
    background-color: #FFFFFF;
    opacity: 0.05;
    width: 85%;
    position: absolute;
    height: 256px;
    margin: 141px 97px;

}


.footer__finsih {
    font-family: 'Sen';
    font-size: 31px;
    font-weight: 700;
    line-height: 48px;
    position: absolute;
    color: #FFFFFF;
    margin-left: 125px;
    margin-top: 218px;
}

.input {
    background-color: #313342;
    border: 1px solid #897e7e;
    width: 285px;
    height: 52px;
    position: absolute;
    margin-left: 41rem;
    padding-left: 23px;
    margin-top: 14rem;
}

.sub__button {
    background-color: #FFD050;
    color: #232536;
    font-size: 19px;
    line-height: 24px;
    font-family: 'Sen';
    font-weight: 700;
    padding: 13px 45px;
    position: absolute;
    width: 179px;
    border: none;
    height: 52px;
    margin: 14rem 59.8rem;
}

.sub__2 {
    margin: 0rem 2rem;
}

.com__text {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Sen';
    color: #FFFFFF;
    margin-top: 28.4rem;
    position: absolute;
    margin-left: 6rem;
}

.com__textt {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Sen';
    color: #FFFFFF;
    margin-top: 29.9rem;
    position: absolute;
    margin-left: 6rem;
}

.footer__icon {
    position: absolute;
    margin: 25rem 71rem;
    width: 107px;
    font-size: 89px;
}

.img__class {
    position: absolute;
    margin: 71px 1px;
}